@model IEnumerable<SHOPTT_DA.Models.LoaiSP>

<p class="lead">Loại sản phẩm </p>
<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("SPTheoLoai", "Sneaker", new { id = item.maLoai})" class="list-group-item">
            @item.tenLoai
        </a>
    }
</div>


