@model IEnumerable<SHOPTT_DA.Models.ThuongHieu>

@{
    ViewBag.Title = "listTH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách thương hiệu</h2>

<a class="btn btn-success" href="@Url.Action("CreateTH", "Home")">Thêm thương hiệu</a>
<br />
<a>&nbsp;</a>
<table border="5" width="50%" >
    <tr>
       
        <th style="text-align:center" width="70%"> Tên thương hiệu </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tenThuongHieu)
            </td>
            <td style="text-align:center" >
                <a class="btn btn-warning" href="@Url.Action("EditTH", "Home",
                                new { @id = item.maThuongHieu })">Edit</a> |
                <a class="btn btn-danger" href="@Url.Action("DeleteTH", "Home",
                                new { @id = item.maThuongHieu })">Delete</a>
            </td>
        </tr>
    }

</table>
