@model IEnumerable<SHOPTT_DA.Models.LoaiSP>

@{
    ViewBag.Title = "listLoai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách loại sản phẩm</h2>

<a class="btn btn-success" href="@Url.Action("CreateLoai", "Home")">Thêm loại sản phẩm</a>
<br />
<a>&nbsp;</a>
<table border="5" width="50%">
    <tr>

        <th style="text-align:center" width="70%"> Tên loại </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tenLoai)
            </td>
            <td style="text-align:center" >
                <a class="btn btn-warning" href="@Url.Action("EditLoai", "Home",
                                new { @id = item.maLoai })">Edit</a> |
                <a class="btn btn-danger" href="@Url.Action("DeleteLoai", "Home",
                                new { @id = item.maLoai })">Delete</a>
            </td>
        </tr>
    }

</table>
