@model SHOPTT_DA.Models.KhachHang
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<h2>Xác nhận đơn hàng</h2>
Đơn hàng đã được xác nhận.
<br />
Quý Khách vui lòng kiểm tra thông tin đơn hàng trong Email
